---
---

@import "{{ site.theme }}";

footer {
  display: none;
}

header {
  display: none;
}

section {
  width: 100%;
  max-width: 100%;
  // float: left;
}

table tr:nth-child(even) {
  background-color: #f7f7f7;
}